-selected_comments ||= []
-selected =  selected_comments.include?(comment)
-show_date ||= false
-#.comment{:class => ("highlight" if selected)}
.comment
  .author
    #{comment.author}:
  .content
    = simple_format(comment.content)
    %span.date= "#{comment.created_at.getlocal.strftime("%k:%M le %d %B")}" if show_date
  -#- if can? :delete, comment
    .buttons
      .button= link_to "delete", {:action => :destroy, :id => comment.id, :controller => :comments} , :confirm => "Are you sure?", :method => :delete
      .button= link_to "edit", edit_comment_path(comment)
  -#.clear