.comment_form
  = form_for @comment do |f|
    = hidden_field_tag :post_id, @post.id.to_s
    %p
      = f.label :author, "Votre nom"
      %br
      = f.text_field :author, :value => @comment.author || (current_user ? current_user.name : nil) ||  comment_name
    %p
      = f.label :content, "Commentaire"
      %br
      = f.text_area :content, :rows => "7"
    %p
      = f.submit "Envoyer"
