.post
  .title
    .links
      %span.link=link_to "Photo grande taille", post.image_url(:full_page), :target => '_blank' if post.image_url
      %span.link=link_to "Lire les commentaires (#{post.comments.count})", "#comments"
      %span.link=link_to "Ecrire un commentaire", "#comments"
    %h2= post.title
    .subtitle= post.published_on.getlocal.strftime("%A %d %B, %Y - %T")
    .clear
  -#%pre
    =post.image.to_yaml
  %div{:class => "image " + (post.information["ImageWidth"] > post.information["ImageHeight"] ? "horizontal" : "vertical")}= image_tag post.image_url(:full_page), :width => "100%" if post.image_url
  .description= post.body.html_safe
  .photograph Alan Sap&egrave;de
  .front_comments#comments
    %h3 Commentaires
    =render :partial => "comments/comment", :collection => post.comments
    = "Aucun commentaire" if post.comments.count == 0
  .clear
=render "comments/form"
-#%table
-#  -post.information.tags.each do |tag|
-#    %tr
-#      %td=tag.to_s
-#      - if post.information[tag].is_a?(String)
-#        %td=post.information[tag].force_encoding('ASCII-8BIT')
-#      -else
-#        %td=post.information[tag]
