.link_sites
  -#.site= link_to "Lost in France", "http://france.crystalin.fr"
  .site= link_to "Lost in Dubai", "http://dubai.crystalin.fr"
  .site= link_to "Lost in Japon", "http://japon.crystalin.fr"
  .site= link_to "Lost in Australia", "http://australie.crystalin.fr"
  .site= link_to "Lost in Singapour", "http://singapour.crystalin.fr"
  .site= link_to "Lost in Zurich", "http://zurich.crystalin.fr"
%p.clear
  Copyright @ Alan Sap&#232;de