!!!
%html
  %head
    %title= "Lost in #{current_subdomain.capitalize}, by Alan"
    = csrf_meta_tag
    %link{:rel => 'shortcut icon', :href => asset_path("#{current_subdomain}/favicon.png","image"), :type => 'image/png'}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    /[if lt IE 8]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
  %body{:class => current_subdomain}
    #background
    .site_title
      %h1=link_to "Far in Japan", root_path
    #container
      #content
        #header
          =render "layouts/menu"
          -flash.each do |name, msg|
            =content_tag :div, msg, :id => "flash_#{name}"
        .clear
        = yield
      #footer
        =render "layouts/menu"
        = render 'layouts/footer'